<!DOCTYPE html>
<html lang="de">
<!--######## HTML-Template by StreamShapers #######-->
<!--########### visit streamshapers.com ##########-->
<!-- made with StreamShapers Ferryman ${version} -->
<head>
    <meta charset='utf-8'>
    <title>Lottie Template 01</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        html {
            overflow: hidden;
        }

        body {
            margin: 0;
            width: 100vw;
        }

        p {
            font-size: 30px;
            margin: 0 0 0 20px;
            color: white
        }

        h1 {
            margin-left: 20px;
            color: white
        }
    </style>
    ${fontFaceStyles}
    ${spx}

    <script>
        function updateTimeField(animation) {
            const svgDocument = document.getElementById(animation).querySelector('svg');
            const gElements = svgDocument.getElementsByTagName('g');
            const formatMap = {
                'cc:cc:cc': 'HH:mm:ss',
                'cc:cc': 'HH:mm',
            };

            for (let g of gElements) {
                const ariaLabel = g.getAttribute('aria-label');
                const format = formatMap[ariaLabel];

                if (format) {
                    const textElements = Array.from(g.getElementsByTagName('text'));

                    function updateTime() {
                        const now = new Date();
                        let formattedTime;

                        if (format === 'HH:mm:ss') {
                            formattedTime = now.toLocaleTimeString();
                        } else if (format === 'HH:mm') {
                            formattedTime = now.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'});
                        }

                        const timeParts = formattedTime.split(':');

                        if (timeParts.length >= 2) {
                            textElements[0].textContent = timeParts[0][0];
                            textElements[1].textContent = timeParts[0][1];
                            textElements[2].textContent = ':';
                            textElements[3].textContent = timeParts[1][0];
                            textElements[4].textContent = timeParts[1][1];

                            if (timeParts.length === 3 && format === 'HH:mm:ss') {
                                textElements[5].textContent = ':';
                                textElements[6].textContent = timeParts[2][0];
                                textElements[7].textContent = timeParts[2][1];
                            }
                        }
                    }

                    setInterval(updateTime, 1000);
                    updateTime();
                }
            }
        }
    </script>
</head>

<body>
<div id="animation1"></div>
<!--Animations-Script-->
<script>
    //Google Table integration
    // SHEET_ID = "1Ta6xX9ZVGEQXY5K3uqpCSlqXr6r6Ixqpr91-WcAR1IA";
    // SHEET_TITLE = "Tabellenblatt1";
    //const sheetURL = 'https://docs.google.com/spreadsheets/d/' + SHEET_ID + '/gviz/tq?sheet=' + SHEET_TITLE;

    const googleTableCells = '${googleTableData}';

    /*googleTableCells.push({
        id:"id",
        key: "_value1",
        cell: "A1",
        value:"default"
    })*/

    async function parseGoogleTable() {
        return JSON.parse(googleTableCells);
    }

    async function fetchDataFromGoogle(url) {
        try {
            let response = await fetch(url);
            if (!response.ok) {
                console.warn(`Fehler beim Abrufen der Daten. Status: ${response.status}`);
                return null;
            }
            let csvText = await response.text();
            return csvText.split('\n').map(row => row.split(','));
        } catch (error) {
            console.error("Error collecting data from Google:", error);
            return null;
        }
    }

    function getCellData(cell, data) {
        try {
            const columnName = cell.match(/[A-Z]+/g)[0];
            const base = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            let rowIx = (parseInt(cell.match(/[0-9]+/g)[0])) - 1; // Row index (0-based)
            let colIx = 0;

            for (let i = 0; i < columnName.length; i++) {
                colIx = colIx * 26 + base.indexOf(columnName[i]) + 1;
            }
            colIx = colIx - 1; // Column index (0-based)

            let cellValue = data[rowIx] ? data[rowIx][colIx] : undefined;

            if (cellValue && cellValue.startsWith('"') && cellValue.endsWith('"')) {
                cellValue = cellValue.slice(1, -1);
            }

            if (cellValue) {
                cellValue = cellValue.replace(/\r/g, '').replace(/\n/g, '');
            }

            return cellValue;
        } catch (error) {
            console.log("Error getCellData from GoogleSheet:", error);
        }
    }


    async function updateGoogleTableData(templateJSON) {
        const tableData = await parseGoogleTable();
        let sources = {};

        for (const element of tableData) {
            //const sheetURL = 'https://docs.google.com/spreadsheets/d/' + element.id + '/gviz/tq?tqx=out:csv&sheet=' + element.sheet;
            const sheetURL = 'https://docs.google.com/spreadsheets/d/' + element.id + '/export?format=csv&gid=' + element.sheet;
            let csvArray;

            if (!sources[sheetURL]) {
                csvArray = await fetchDataFromGoogle(sheetURL);
                sources[sheetURL] = csvArray;
                //console.log("Sources updated:", sources);
            } else {
                csvArray = sources[sheetURL];
                //console.log("Sheet URL already exists in sources. Using cached value:", csvArray);
            }

            if (csvArray && csvArray.length > 0) {
                const value = getCellData(element.cell, csvArray);
                for (const layer of templateJSON.layers) {
                    if (layer.nm === element.key) {
                        layer.t.d.k[0].s.t = value != null ? value.toString() : "";
                    }
                }
            }
        }
        return templateJSON;
    }

    // Uncomment the following lines to periodically update data
    /*
        const fetchInterval = 2000;
        setTimeout(() => {
            setInterval(() => {
                updateGoogleTableData()
            }, fetchInterval)
        }, 4000);
        */
</script>
<script>
    "use strict"
    let lottieTemplate = ${jsonData};
    let lottieTemplateUpdate;
    let playStatus = "";
    let nextCount = 1;
    let nextTotal = 0;
    let showInfo = false;
    let currentSegment = "start";
    let currentSegmentFrames;
    let animReady = createDeferredPromise();
    let animLoaded = createDeferredPromise();
    let animation;
    let newAnimation;
    let updateAnimation;
    let stopExist = false;
    let showLogs = false;
    let imagesPathPrefix = ${imagePath};
    let updateCounter = 1;
    let currentFrame;
    let updateExist = false;
    let lottieState = "stop";
    let markers = [];
    let playStack = [];
    let breakFrame = undefined
    let fetchSheet = true;
    let lottieTemplateNew = JSON.parse(JSON.stringify(lottieTemplate));

    //fix and check markers
    lottieTemplate.markers.forEach((marker) => {
        let name = marker.cm;
        markers.push(name)
        marker.cm = name.toLowerCase();

        if (name.includes("next")&& !name.includes("loop")) nextTotal++
        if (name == "stop") stopExist = true
        if (name == "update") updateExist = true
    })


    function createDeferredPromise() {
        let resolver, rejecter;
        const promise = new Promise((resolve, reject) => {
            resolver = resolve;
            rejecter = reject;
        });
        return {
            promise,
            resolve: resolver,
            reject: rejecter
        };
    }

    //add font-face from data.json  //Credits to HeineFro  @https://github.com/HeineFro
    const addFont = (fam, path) => {
        let newFont = document.createElement('style');
        newFont.appendChild(document.createTextNode(`\
            @font-face {\
                font-family: ${fam};\
                src: url('${path}');\
            }\
            `));
        document.head.appendChild(newFont);
    }

    function pause(sec) {
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                resolve("Die " + sec + " Sekunden Pause ist vorbei");
            }, sec * 1000);
        });
    }

    function loadFonts() {
        return new Promise((resolve, reject) => {
            const fonts = lottieTemplate.fonts.list;
            let fontPromises = [];

            for (const font of fonts) {
                if (font.fPath !== '') {
                    fontPromises.push(new FontFace(font.fFamily, `url(${font.fPath})`).load());
                }
            }

            Promise.all(fontPromises)
                .then(() => resolve('Fonts loaded'))
                .catch(err => reject(err));
        });
    }

    //updates Images Assets by there Refid  //Credits to HeineFro  @https://github.com/HeineFro
    function updateAssetsByRefid(array, searchValue, newValue) {
        const foundObject = array.find(obj => obj['id'] === searchValue);

        if (foundObject) {
            foundObject['u'] = imagesPathPrefix;
            foundObject['p'] = newValue;
            foundObject['e'] = 0;
            return foundObject;
        }

        return null;
    }

    function getMarker(markerName){
        for (let marker of lottieTemplate.markers) {
                if (marker.cm === markerName) return marker
            }
    }


    function triggerPlayStack(){
        setTimeout(()=>{
            if (showLogs) console.log(`LottieState: ${lottieState}`)
            if (currentSegment === "stop") {
                animation.destroy()
            }
            if (playStack.length === 0 && currentSegment.includes("loop") ) playStack.push(currentSegment)
            console.log("Stack in der mitte: "+playStack[0])
            if (playStack[0]) {
                let nextSegment = playStack[0]
                animation.goToAndPlay(nextSegment,true)
                if (showLogs) console.log(`Template - Play   ${nextSegment} "Marker"`)
                currentSegment = nextSegment
                playStack.shift()
            } 
        },0)
    }

    function addEvents(animation){
        animation.addEventListener("enterFrame", () => {
            currentSegmentFrames = getMarker(currentSegment).tm
            /*
            for (let marker of lottieTemplate.markers) {
                if (marker.cm === currentSegment) {
                    currentSegmentFrames = marker.tm
                }
            }
            */
            currentFrame = Math.round(animation.currentFrame) + currentSegmentFrames
            //if (currentFrame === breakFrame) console.log("!!!!!!!!!!!!!") //triggerPlayStack()
            if (showLogs) console.log(`Current Frame: ${currentFrame}`);
        })
        animation.addEventListener("_play",()=>{
            lottieState="play"
            if (showLogs) console.log(`LottieState: ${lottieState}`)
        })
        animation.addEventListener("_pause",()=>{
            lottieState="pause"
                triggerPlayStack()
        })
        animation.addEventListener("_idle", ()=>{
            lottieState="idle"
        })


    }

    async function update(rawData) {
        if (fetchSheet && googleTableCells) {
            lottieTemplateNew = await updateGoogleTableData(lottieTemplate);
        }

        lottieTemplateUpdate = JSON.parse(JSON.stringify(lottieTemplateNew)) //copy the "old" updated template for the update Animation
        lottieTemplateNew = JSON.parse(JSON.stringify(lottieTemplate));
        let parsed;

        if (rawData) {
            if (rawData.startsWith("<templateData>")) {
                let parser = new DOMParser();
                let xmlDoc = parser.parseFromString(rawData, "text/xml");
                let json = {};
                let components = xmlDoc.getElementsByTagName("componentData");

                for (let component of components) {
                    let id = component.getAttribute("id");
                    let dataElement = component.getElementsByTagName("data")[0];
                    json[id] = dataElement.getAttribute("value");
                }
                parsed = json;
            } else {
                parsed = JSON.parse(rawData);
            }
            for (let key of Object.keys(parsed)) {
                if (key === "_templateInfo") showInfo = true;
                if (key === "_debug") showLogs = true;
                if (key === "epochID") imagesPathPrefix = "";
                if (key === "_stopFetch") fetchSheet = false;
            }
            for (let key of Object.keys(parsed)) {
                lottieTemplateNew.layers.forEach((layer) => {
                    if (layer.nm === key) {
                        if ('refId' in layer) {
                            updateAssetsByRefid(lottieTemplateNew.assets, layer.refId, parsed[key]);
                        } else {
                            layer.t.d.k[0].s.t = parsed[key];
                        }
                    }
                })
            }
        }

        /*if(parsed){
            for (let key of Object.keys(parsed)) {
                lottieTemplateNew.layers.forEach((layer) => {
                    if (layer.nm === key) {
                        layer.t.d.k[0].s.t = parsed[key]
                    }
                })
            }
        }*/

        //first Update and create Lottie for the first time
        if (playStatus === "") {
            animation = bodymovin.loadAnimation({
                container: document.getElementById("animation1"),
                renderer: "svg",
                loop: false,
                autoplay: false,
                animationData: lottieTemplateNew,
            });
            let fonts = animation.renderer.data.fonts.list;
            for (const font in fonts) {
                let family = fonts[font].fFamily;
                let fontPath = fonts[font].fPath;
                if (fontPath !== '') {
                    addFont(family, fontPath);
                }
            }
            animReady = new Promise((resolve, reject) => {
                animation.addEventListener("DOMLoaded", function () {
                    if (showLogs) console.log("Template - Ready");
                    resolve("ready");
                });
            });

            addEvents(animation);


            updateTimeField("animation" + updateCounter);

            await animReady.promise;
            animation.goToAndStop(0, true);
            playStatus = "loaded";
            currentSegment = "start";
            animLoaded.resolve("Template - Animation is Ready");

        }
        //Update when tamplate is playing
        if (playStatus === "play") {
            updateCounter++;

            //Only for UpdateAnimations
            if (updateExist && rawData) {
                let updateValues = [];
                for (let key of Object.keys(parsed)) {
                    lottieTemplateUpdate.layers.forEach((layer) => {
                        if (layer.nm == `${key}_update`) {
                            console.log(`${key} has Update layer`);
                            parsed[`${key}_update`] = parsed[key];
                            delete parsed[key];
                            console.log(parsed);
                        }
                    });
                }
                for (let key of Object.keys(parsed)) {
                    lottieTemplateUpdate.layers.forEach((layer) => {
                        if (layer.nm === key) {
                            if ('refId' in layer) {
                                updateAssetsByRefid(lottieTemplateUpdate.assets, layer.refId, parsed[key]);
                            } else {
                                layer.t.d.k[0].s.t = parsed[key];
                            }
                        }
                    })
                }
                let newDiv = document.createElement("div");
                newDiv.id = "animation" + updateCounter;
                document.body.appendChild(newDiv);

                let updateAnimation = bodymovin.loadAnimation({
                    container: document.getElementById("animation" + updateCounter),
                    renderer: "svg",
                    loop: false,
                    autoplay: false,
                    animationData: lottieTemplateUpdate,
                })
                updateAnimation.addEventListener("DOMLoaded", async function () {
                    if (showInfo) console.log("Template - updated Animation Ready");
                    updateAnimation.goToAndPlay("update", true);
                    animation.destroy();
                    document.getElementById("animation" + (updateCounter - 1)).remove();
                    animation = updateAnimation;
                    updateAnimation = null;
                    console.log("Upadte Animation läuft");
                    animation.addEventListener("_pause", () => {
                        lottieState = "pause";
                        console.log(`LottieState: "${lottieState}`);

                        updateCounter++;
                        let newDiv = document.createElement("div");
                        newDiv.id = "animation" + updateCounter;
                        document.body.appendChild(newDiv);

                        let newAnimation = bodymovin.loadAnimation({
                            container: document.getElementById("animation" + updateCounter),
                            renderer: "svg",
                            loop: false,
                            autoplay: false,
                            animationData: lottieTemplateNew,
                        });

                        newAnimation.addEventListener("DOMLoaded", function () {
                            if (showInfo) console.log("Template - updated Animation Ready");
                            newAnimation.goToAndStop(currentFrame, true);
                            animation.destroy();
                            document.getElementById("animation" + (updateCounter - 1)).remove();
                            animation = newAnimation;
                            addEvents(animation);
                            newAnimation = null;
                        });
                    });
                });
            }
            //only without update animation
            if (!updateExist && lottieState==="idle") {
                let newDiv = document.createElement("div");
                newDiv.id = "animation" + updateCounter;
                document.body.appendChild(newDiv);

                let newAnimation = bodymovin.loadAnimation({
                    container: document.getElementById("animation" + updateCounter),
                    renderer: "svg",
                    loop: false,
                    autoplay: false,
                    animationData: lottieTemplateNew,
                })

                newAnimation.addEventListener("DOMLoaded", function () {
                    if (showInfo) console.log("Template - updated Animation Ready");
                    newAnimation.goToAndStop(currentFrame, true);
                    //breakFrame = getMarker(currentSegment).tm + getMarker(currentSegment).dr
                    console.log("BREAK: " + breakFrame)
                    animation.destroy();
                    document.getElementById("animation" + (updateCounter - 1)).remove();
                    animation = newAnimation;
                    animation.addEventListener("enterFrame", () => {
                        for (let marker of lottieTemplate.markers) {
                            if (marker.cm === "name:" + currentSegment) {
                                currentSegmentFrames = marker.tm;
                            }
                        }
                        currentFrame = animation.currentFrame + currentSegmentFrames;
                        if (showLogs) console.log(`Current Frame: ${currentFrame}`);
                    });

                    addEvents(animation);
                    //breakFrame = getMarker(currentSegment).tm + getMarker(currentSegment).dr
                    updateTimeField("animation" + updateCounter);
                    newAnimation = null;
                });
            }
        }
        if (showInfo) info();
    }


    async function play() {
        console.log(await animLoaded.promise);
        await animReady;
        await loadFonts();
        animation.goToAndPlay("start", true);
        playStatus = "play";
        currentSegment = "start";
        if (showLogs) console.log("Template - Play 'start' marker");
        if (markers.includes("start_loop")) playStack.push("start_loop");
        updateTimeField("animation" + updateCounter);
    }


    function stop() {
        if (stopExist) {
            if (lottieState === "idle") {
                animation.goToAndPlay("stop", true);
                if (showLogs) console.log("Template - Play 'stop' Marker");
            } else {
                //playStack.length=0
                playStack.push("stop");
            }
        } else {
            if (showLogs) console.log("Template - No 'stop' marker - destroy Animation");
            animation.destroy();
        }
        playStatus = "stop";
    }

    function next() {
        if (nextCount > nextTotal && stopExist) {
            stop();
            if (showLogs) console.log("Template - No 'next' marker left - Play 'stop' Marker");
        } else {
            if (lottieState === "idle") {
                animation.goToAndPlay("next" + nextCount, true);
                currentSegment = "next" + nextCount;
                if (showLogs) console.log("Template - Play 'next" + nextCount + "' Marker");
            } else {
                //playStack.shift()
                playStack.push("next" + nextCount);
                if (markers.includes("next" + nextCount + "_loop")) playStack.push("next" + nextCount + "_loop");
            }
            nextCount++;
        }
    }

    function info() {
        animation.destroy();
        let title = document.createElement("h1");
        title.appendChild(document.createTextNode("These are the names of your After-Effects layers starting with \"_\"."));
        document.body.appendChild(title);

        lottieTemplate.layers.forEach((layer) => {
            if (layer.nm.startsWith("_")) {
                let nameElement = document.createElement("p");
                let text = document.createTextNode(layer.nm);
                let br = document.createElement("br");
                nameElement.appendChild(text);
                document.body.appendChild(nameElement);
                document.body.appendChild(br);
            }
        })

        let nameElement = document.createElement("p");
        let text = document.createTextNode("Your image path is: '" + imagesPathPrefix + "'");
        let br = document.createElement("br");
        nameElement.appendChild(text);
        document.body.appendChild(nameElement);
        document.body.appendChild(br);
    }
</script>
<!-- Lottie.js-->
<script>
    ${lottieData}
</script>
</body>
</html>