<!DOCTYPE html>
<html lang="de">
<!--######## HTML-Template - StreamShapers #######-->
<!--########### visit streamshapers.com ##########-->
<!-- made with StreamShapers Converter ${version} -->
<head>
    <meta charset='utf-8'>
    <title>Lottie Template 01</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        html {
            overflow: hidden;
        }

        body {
            margin: 0;
            width: 100vw;
        }

        p {
            font-size: 30px;
            margin: 0 0 0 20px;
            color: white
        }

        h1 {
            margin-left: 20px;
            color: white
        }
    </style>
    ${fontFaceStyles}
    ${spx}
</head>


<body>
<div id="animation1"></div>
<!--Animations-Script-->
<script>
    "use strict"
    //Paste Lottie File .JSON Code
    let lottieTemplate = ${jsonData};
    let playStatus = "";
    let nextCount = 1;
    let nextTotal = 0;
    let showInfo = false;
    let currentSegment;
    let currentSegmentFrames;
    let animReady;
    let animation;
    let newAnimation;
    let stopExist = false;
    let showLogs = false;
    let imagesPathPrefix = ${imagePath};
    let updateCounter = 1
    let currentFrame

    //add font-face from data.json  //Credits to HeineFro  @https://github.com/HeineFro
    const addFont = (fam, path) => {
        let newFont = document.createElement('style')
        newFont.appendChild(document.createTextNode(`\
            @font-face {\
                font-family: ${fam};\
                src: url('${path}');\
            }\
            `));
        document.head.appendChild(newFont);
    }

    //updates Images Assets by there Refid  //Credits to HeineFro  @https://github.com/HeineFro
    function updateAssetsByRefid(array, searchValue, newValue) {
        const foundObject = array.find(obj => obj['id'] === searchValue);

        if (foundObject) {
            foundObject['u'] = imagesPathPrefix
            foundObject['p'] = newValue;
            foundObject['e'] = 0
            return foundObject;
        }

        return null;
    }

    //fix and check markers
    lottieTemplate.markers.forEach((marker) => {
        let name = marker.cm
        marker.cm = "name:" + name.toLowerCase()
        if (name.includes("next")) {
            nextTotal++
        }
        if (name == "stop") {
            stopExist = true
        }
    })
    let lottieTemplateNew = {...lottieTemplate};

    async function update(rawData) {
        lottieTemplateNew = {...lottieTemplate};
        let parsed

        if (rawData) {
            if (rawData.startsWith("<templateData>")) {
                let parser = new DOMParser();
                let xmlDoc = parser.parseFromString(rawData, "text/xml");

                // JSON-Objekt initialisieren
                let json = {};

                // Durch die 'componentData' Elemente iterieren
                let components = xmlDoc.getElementsByTagName("componentData");
                for (let component of components) {
                    let id = component.getAttribute("id"); // 'id' des componentData Elements
                    let dataElement = component.getElementsByTagName("data")[0];
                    let value = dataElement.getAttribute("value"); // 'value' Attribut des 'data' Elements
                    json[id] = value;
                }
                parsed = json
            } else {
                parsed = JSON.parse(rawData)
            }
            for (let key of Object.keys(parsed)) {
                if (key === "_templateInfo") showInfo = true
                if (key === "_debug") showLogs = true
                if (key === "epochID") imagesPathPrefix = ""
            }
            for (let key of Object.keys(parsed)) {
                lottieTemplateNew.layers.forEach((layer) => {
                    if (layer.nm === key) {
                        if ('refId' in layer) {
                            updateAssetsByRefid(lottieTemplateNew.assets, layer.refId, parsed[key])
                        } else {
                            layer.t.d.k[0].s.t = parsed[key]
                        }
                    }
                })
            }
        }
        if (playStatus === "") {
            animation = bodymovin.loadAnimation({
                container: document.getElementById("animation1"),
                renderer: "svg",
                loop: false,
                autoplay: false,
                animationData: lottieTemplateNew,
            })
            let fonts = animation.renderer.data.fonts.list;
            for (const font in fonts) {
                let family = fonts[font].fFamily
                let fontPath = fonts[font].fPath
                if (fontPath !== '') {
                    addFont(family, fontPath)
                }
            }
            animReady = new Promise((resolve, reject) => {
                animation.addEventListener("DOMLoaded", function () {
                    if (showLogs) console.log("Template - Ready")
                    resolve("ready")
                })
            })

            animation.addEventListener("enterFrame", () => {
                for (let marker of lottieTemplate.markers) {
                    if (marker.cm === "name:" + currentSegment) {
                        currentSegmentFrames = marker.tm
                    }
                }
                currentFrame = animation.currentFrame + currentSegmentFrames
                if (showLogs) console.log(`Template - Current Frame: ${currentFrame}`);
            })

        }
        if (playStatus === "play") {
            updateCounter++
            let newDiv = document.createElement("div");
            newDiv.id = "animation" + updateCounter;
            document.body.appendChild(newDiv);

            let newAnimation = bodymovin.loadAnimation({
                container: document.getElementById("animation" + updateCounter),
                renderer: "svg",
                loop: false,
                autoplay: false,
                animationData: lottieTemplateNew,
            })

            newAnimation.addEventListener("DOMLoaded", function () {
                if (showInfo) console.log("Template - updated Animation Ready")
                newAnimation.goToAndStop(currentFrame, true)
                animation.destroy()
                document.getElementById("animation" + (updateCounter - 1)).remove()
                animation = newAnimation
                animation.addEventListener("enterFrame", () => {
                    for (let marker of lottieTemplate.markers) {
                        if (marker.cm === "name:" + currentSegment) {
                            currentSegmentFrames = marker.tm
                        }
                    }
                    currentFrame = animation.currentFrame + currentSegmentFrames
                    if (showLogs) console.log(`Current Frame: ${currentFrame}`);
                })

                newAnimation = null
            })
        }
        if (showInfo) info()
    }


    async function play() {
        await animReady
        animation.goToAndPlay("start", true);
        playStatus = "play";
        currentSegment = "start";
        if (showLogs) console.log("Template - Play 'start' marker")
    }


    function stop() {
        if (stopExist) {
            animation.goToAndPlay("stop", true)
            if (showLogs) console.log("Template - Play 'stop' Marker")
        } else {
            if (showLogs) console.log("Template - No 'stop' marker - destroy Animation")
            animation.destroy()
        }
        playStatus = "stop"
    }

    function next() {
        if (nextCount > nextTotal && stopExist) {
            animation.goToAndPlay("stop", true)
            if (showLogs) console.log("Template - No 'next' marker left - Play 'stop' Marker")
        } else {
            if (showLogs) console.log("Template - Play 'next" + nextCount + "' Marker")
            animation.goToAndPlay("next" + nextCount, true)
            currentSegment = "next" + nextCount
            nextCount++
        }
    }

    function info() {
        animation.destroy()
        let title = document.createElement("h1")
        title.appendChild(document.createTextNode("These are the names of your After-Effects layers starting with \"_\"."))
        document.body.appendChild(title)
        lottieTemplate.layers.forEach((layer) => {
            if (layer.nm.startsWith("_")) {

                let nameElement = document.createElement("p")
                let text = document.createTextNode(layer.nm)
                let br = document.createElement("br")
                nameElement.appendChild(text)
                document.body.appendChild(nameElement);
                document.body.appendChild(br);
            }
        })
        let nameElement = document.createElement("p")
        let text = document.createTextNode("Your image path is: '" + imagesPathPrefix + "'")
        let br = document.createElement("br")
        nameElement.appendChild(text)
        document.body.appendChild(nameElement);
        document.body.appendChild(br);

    }
</script>
<!-- Lottie.js-->
<script>
    ${lottieData}
</script>
</body>
</html>