/* ############################## Media Query's ########################################### */
@media (width < 1600px) {
    .dialog-window {
        width: 80vw;
    }

    #startWrapper {
        max-width: 80vw;
    }
}

@media (width < 1080px) {
    .container {
        max-width: 100%;
        max-height: 100%;
    }

    #contentWrapper {
        flex-direction: column-reverse;
        gap: 10px;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    #startScreenContainer {
        max-height: 100%;
        min-height: calc(100vh - 100px);
    }

    #splitBar {
        display: none;
    }

    #contentWrapper #jsonElements, #contentWrapper #jsonPreview {
        width: 100%;
        height: auto;
        flex: 1;
        min-width: 100px;
    }

    #animationPreview {
        padding: 5px;
    }

    #previewControlContainer {
        padding: 40px 5px 5px 5px;
        height: 130px;
    }

    #previewControls {
        justify-content: space-around;
        margin: 0;
    }

    #timeDisplay {
        width: 80px;
    }

    .template-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .template-grid .template-card{
        width: 100%;
        max-width: 100%;
    }

    .last-uploaded-header {
        flex-direction: column;
        gap: 10px;
    }

    #startWrapper {
        max-width: 90vw;
    }

    #samples {
        flex-wrap: wrap;
    }
    #startScreenContainer #startWrapper {
        max-width: 100%;
        width: 100%;
    }
}

@media (width < 681px) {
    #headerContainer {
        height: auto;
        gap: 5px;
    }

    #login-button span{
        display: none;
    }

    .container {
        height: auto;
    }

    #contentWrapper {
        padding: 5px;
        gap: 5px;
    }

    #jsonElements {
        padding: 5px;
        min-width: 300px;
    }

    #contentWrapper #jsonPreview {
        padding: 5px;
        min-width: 300px;
    }

    .accordion {
        gap: 10px;
    }

    .accordion-header {
        padding: 5px;
    }

    .accordion-body {
        padding: 5px;
        box-sizing: border-box;
    }

    .accordionInfo {
        gap: 5px;
    }

    #timeDisplay {
        font-size: 16px;
        width: 50px;
        padding: 1px 5px;
    }

    .previewControlButton {
        font-size: 16px;
    }

    #previewControlContainer {
        padding: 40px 5px 5px 5px;
        height: 115px;
    }

    .fonts-list {
        gap: 5px;
    }

    #text-input-header {
        display: none;
    }

    .jsonText {
        padding-bottom: 5px;
    }

    .jsonText span {
        display: none;
    }

    .dialog-window {
        min-width: 100%;
    }

    #exportFileName {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #fileNameInputLabel {
        min-width: 100px;
    }

    .spx-setting-header {
        flex-direction: column;
    }

    #startScreenContainer {
        max-height: 100%;
    }

    #startWrapper {
        max-width: 100%;
    }

    .sample {
        padding: 10px;
    }

    .sample .icon {
        font-size: 60px;
    }

    .external-source-fields input {
        width: 100%;
    }

    .external-source-form {
        width: 50%;
    }

    .external-source-form input {
        width: 100%;
    }
}

@media (width < 360px) {
    .warning {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000;
        font-size: 1.6rem;
        padding: 30px;
        box-sizing: border-box;
    }

    #to-narrow-img {
        width: calc(100vw - 5vw);
        margin-bottom: 5vh;
    }
}

@media (width >= 360px) {
    .warning {
        display: none;
    }
}

@media (max-width: 680px) {
    #content #startScreenContainer {
        margin: 10px;
    }

    #startScreenContainer #startWrapper, #startWrapper #uploadWrapper, #startWrapper #sampleWrapper {
        padding: 10px;
        gap: 10px;
    }

    #sampleWrapper #samples{
        padding: 10px 0 0 0;
    }

    #samples .sample {
        padding: 10px;
    }

    .headerButton1 {
        display: none;
    }

    #login-button {
        display: flex;
        padding: 5px;
    }

    #login-button img{
        margin-left: 0;
    }

    #header-title h1 {
        display: none;
    }

    .dropdown-item, .dropdown-item .headerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .headerSide .dropdown {
        display: flex;
        gap: 50px;
        background-color: var(--background);
        font-size: 24px;
        color: white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }

    .headerSide .headerButton{
        display: none;
    }

    .dropdown.headerButton{
        display: flex;
    }

    .dropdown-content .headerButton {
        display: flex;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 50%;
        top: 60px;
        left: 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .markers-wrapper .marker-inputs{
        gap: 5px;
    }

    .marker-inputs label {
        font-size: 0.6rem;
    }

    #content .dialog-window {
        min-width: auto;
        width: calc(100vw - 20px);
        padding: 10px;
    }

    #content .dialog-window h2{
        padding: 0 10px 10px 0;
    }

    .dialog-window .popupButtonArea {
        padding-top: 10px;
    }

    .dialog-window .tab-content {
        padding: 10px;
    }

    .dialog-window .mode-switch {
        padding-bottom: 20px;
    }

    .tab-content .spx-settings{
        margin-top: 10px;
    }

    .spx-settings #spx-item-key{
        min-width: 100px;
        font-size: 0.8rem;
    }

    .spx-settings .spx-setting-header{
        gap: 10px;
    }

    .spx-description .spx-export-right{
        flex: 0 1;
        max-width: calc(100% - 110px);
    }

    .spx-description input{
        max-width: 100%;
    }

    .spx-setting-header .spx-export-right{
        max-width: calc(100% - 110px);
    }

    .spx-export-right label{
        max-width: 100%;
    }

    .spx-instruction .spx-export-right textarea{
        min-height: 100px;
    }

    .container #contentWrapper{
        padding: 10px;
    }

    #contentWrapper #jsonElements{
        padding: 10px;
    }

    .accordion-wrapper .accordion{
        gap: 10px;
    }

    .font-item .font-item-text{
        font-size: 0.8rem;
        min-width: auto;
        text-wrap: wrap;
    }

    #previewControls .previewControlButton.demo{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
}

@media (height <= 681px) {
    #content .dialog-window {
        min-height: auto;
        height: 100vh;
        padding: 10px;
    }

    #content .dialog-window h2{
        padding: 0 10px 10px 0;
    }

    .dialog-window .popupButtonArea {
        padding-top: 10px;
    }

    .dialog-window .tab-content {
        padding: 10px;
    }

    .spx-settings #spx-item-key{
        min-width: 100px;
        font-size: 0.8rem;
    }

    .spx-settings .spx-setting-header{
        gap: 10px;
    }

    .spx-description .spx-export-right{
        flex: 0 1;
        max-width: calc(100% - 110px);
    }

    .spx-description input{
        max-width: 100%;
    }

    .spx-setting-header .spx-export-right{
        max-width: calc(100% - 110px);
    }

    .spx-export-right label{
        max-width: 100%;
    }

    .spx-instruction .spx-export-right textarea{
        min-height: 100px;
    }

    .dialog-window .auth-form {
        gap: 10px;
    }

    .dialog-window .auth-form p{
        padding-bottom: 0;
    }

    .auth-form .auth-input input{
        padding: 10px;
        height: 40px;
    }

    .auth-form .auth-button{
        padding: 5px;
    }
}
